<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Blogiy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/blog/add-new">Add Blog</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <% if(locals.user) { %>
                            <%=user.fullName%>
                                <% } else { %>
                                    User
                                    <% } %>

                    </a>
                    <ul class="dropdown-menu">
                        <% if(locals.user) { %>
                            <li><a class="dropdown-item " href="http://localhost:8000/user/logout">LogOut</a>
                                <% } else { %>
                            <li><a class="dropdown-item " href="http://localhost:8000/user/signin">SignIn</a>
                            <li><a class="dropdown-item " href="http://localhost:8000/user/signup">SignUp</a>
                                <% } %>

                            </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<% if (locals.error) { %>
    <div class="alert alert-danger" role="alert">
        <%=locals.error %>
    </div>
    <%} %>